
.App {
}

.Homepage {
  text-align: center;
}

.AppNav {
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 1fr;
  height: 50px;
  position: absolute;
  bottom:0;
  width:100%;
  background-color: grey;
  opacity: 1;
}

.NavIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ClipFooter {
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.Clips {
  text-align: center;
  display:grid;
  grid-template-columns: 1fr 1fr;
}


img {
    max-width: 100%;
    max-height: 100%;
    resize-mode: contain;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
